---
- name: Ensure replication user exists on master.
  mysql_user:
    name: "{{ mysql_replication_user.name }}"
    host: "{{ mysql_replication_user.host | default('%') }}"
    password: "{{ mysql_replication_user.password }}"
    priv: "{{ mysql_replication_user.priv | default('*.*:REPLICATION SLAVE,REPLICATION CLIENT') }}"
    state: present
    ssl_ca: "{{ mysql_ssl_certs_ca_path if mysql_manage_client_ssl }}"
    ssl_cert: "{{ mysql_ssl_certs_cert_path if mysql_manage_client_ssl }}"
    ssl_key: "{{ mysql_ssl_certs_privkey_path if mysql_manage_client_ssl }}"
  when: >
    ((mysql_replication_role == 'master') or
      (mysql_replication_role == 'mastermaster'))
    and mysql_replication_user
    and (mysql_replication_master != '')

- name: Check slave replication status.
  mysql_replication:
    mode: getslave
    login_user: "{{ mysql_replication_user.name }}"
    login_password: "{{ mysql_replication_user.password }}"
    ssl_ca: "{{ mysql_ssl_certs_ca_path if mysql_manage_client_ssl }}"
    ssl_cert: "{{ mysql_ssl_certs_cert_path if mysql_manage_client_ssl }}"
    ssl_key: "{{ mysql_ssl_certs_privkey_path if mysql_manage_client_ssl }}"
  ignore_errors: true
  register: slave
  when: >
    ((mysql_replication_role == 'slave') or
      (mysql_replication_role == 'mastermaster'))
    and (mysql_replication_master != '')

- name: Debug slave
  debug:
    msg: "{{slave}}"
  when: >
    ((mysql_replication_role == 'slave') or
      (mysql_replication_role == 'mastermaster'))
    and (mysql_replication_master != '')

- name: Check master replication status.
  mysql_replication:
    mode: getmaster
    ssl_ca: "{{ mysql_ssl_certs_ca_path if mysql_manage_client_ssl }}"
    ssl_cert: "{{ mysql_ssl_certs_cert_path if mysql_manage_client_ssl }}"
    ssl_key: "{{ mysql_ssl_certs_privkey_path if mysql_manage_client_ssl }}"
  delegate_to: "{{ mysql_replication_master }}"
  register: master
  when: >
    ((slave.Is_Slave is defined and not slave.Is_Slave) or (slave.Is_Slave is not defined and slave|failed))
    and ((mysql_replication_role == 'slave') or (mysql_replication_role == 'mastermaster'))
    and (mysql_replication_master != '')

- name: Configure replication on the slave.
  mysql_replication:
    mode: changemaster
    master_host: "{{ mysql_replication_master }}"
    master_user: "{{ mysql_replication_user.name }}"
    master_password: "{{ mysql_replication_user.password }}"
    master_log_file: "{{ master.File }}"
    master_log_pos: "{{ master.Position }}"
    ssl_ca: "{{ mysql_ssl_certs_ca_path if mysql_manage_client_ssl }}"
    ssl_cert: "{{ mysql_ssl_certs_cert_path if mysql_manage_client_ssl }}"
    ssl_key: "{{ mysql_ssl_certs_privkey_path if mysql_manage_client_ssl }}"
    master_ssl: "{{ mysql_manage_client_ssl }}"
  ignore_errors: True
  when: >
    ((slave.Is_Slave is defined and not slave.Is_Slave) or (slave.Is_Slave is not defined and slave|failed))
    and ((mysql_replication_role == 'slave') or (mysql_replication_role == 'mastermaster'))
    and (mysql_replication_master != '')
    and mysql_replication_user

- name: Start replication.
  mysql_replication:
    mode: startslave
    ssl_ca: "{{ mysql_ssl_certs_ca_path if mysql_manage_client_ssl }}"
    ssl_cert: "{{ mysql_ssl_certs_cert_path if mysql_manage_client_ssl }}"
    ssl_key: "{{ mysql_ssl_certs_privkey_path if mysql_manage_client_ssl }}"
  when: >
    ((slave.Is_Slave is defined and not slave.Is_Slave) or (slave.Is_Slave is not defined and slave|failed))
    and ((mysql_replication_role == 'slave') or (mysql_replication_role == 'mastermaster'))
    and (mysql_replication_master != '')
